<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mechameleon.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_DIR__/node</string>
    <string>__REPO__/node_modules/.bin/tsx</string>
    <string>__REPO__/server/src/index.ts</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PORT</key>
    <string>__PORT__</string>
  </dict>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/mechameleon/server.out.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/mechameleon/server.err.log</string>
</dict>
</plist>
